/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

/* CONTAINERS */
#main-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#left-side, #right-side {
    flex: 1 1 0;
    height: 100%;
    text-align: left;
}


/* lado esquerdo */
#left-side{
    background-image: url('../img/project_bg.jpg');
    background-size: cover;
    background-position-x: -130px;
    position: relative;
    color: #ddd;
}

#info-box{
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .7;

}

#information{
    position: absolute;
    top: 25vh;
    left: 41%;
    width: 300px;

}

#information h2{
    color: #00ab5e;
    margin-bottom: 15px;
    position: relative;
    padding-left: 40px;
    
}

#information span{
    position: absolute;
    top: 2px;
    left: 0;

}

#information p{
    font-weight: bold;
    margin-bottom: 30px;
    
}

/* Forms */

#right-side{
    padding-top: 60px;
    text-align: center;
    
}

#right-side h2{
    color: #888;
    margin-bottom: 50px;
    font-size: 30px;
}

#contact-form{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    
}

#contact-form label, 
#contact-form input, 
#contact-form textarea{

    display: block;
    padding: 10px;
    border: 1px solid #eee;
    color: #aaa;
}

#contact-form label{
    color: #999;
    font-weight: bold;
    /* border-bottom: none; */
}

#contact-form input{
    margin-bottom: 15px;
    width: 500px;

}

#contact-form textarea{
    width: 500px;
}

#contact-form input::placeholder,
#contact-form textarea::placeholder{
    color: #bbb;

}

#contact-form input[type="submit"]{
    background-color: #00ab5e;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 300px;
    margin: 30px auto;
    border: 2px solid transparent;

}

#contact-form input[type="submit"]:hover{
    border-color: #00ab5e;
    color: #00ab5e;
    background-color: #fff;
}


/* Responsivo */

@media(max-width: 450px){

    #main-container{
        height: 100%;
        flex-wrap: wrap;

    }


    #left-side, 
    #right-side{
        flex: 1 1 100%;

    }

    #right-side{
        order: -1;
        padding: 20px;
    }

    #right-side h2{
        margin-bottom: 25px;

    }

    #contact-form{
        width: 100%;

    }

    #contact-form label, 
    #contact-form input, 
    #contact-form textarea{
        border-color: #aaa;
    }

    #left-side{
        background-position: 0;
        height: 500px;
    }

    #information{
        top: 25%;
        left: 25%;
    }
}


